<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signup</title>
  <link rel="stylesheet" href="signup.component.css">
</head>
<body>
  <img src="/assets/logo.png" class="logo" alt="Logo">
  <div class="container">
    <div class="registration form">
      <header>Signup</header>
      <form novalidate [formGroup]="applyForm" (submit)="Signup()">
        <input formControlName="username" type="text" placeholder="Enter your username">
        <input formControlName="password" type="password" placeholder="Create a password">
        <input type="submit" class="button" value="Signup">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
          <label for="check"><a routerLink="/login">Login</a></label>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
